#container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    margin: auto;
}

#container div {
    flex: 1;
    display: flex;
    /* width: 100%; */
}

#container div div {
    flex: 1;
    border: 1px solid black;
    /* height: 50px;
    width: 50px; */
}

 /* .div {
    min-height: 100px;
    min-width: 100px;
    background-color: aqua;
    padding: 8px;
    border: 1px solid black;
    flex: 1 1 auto;
} */