#container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    margin: auto;
}

#container div {
    flex: 1;
    display: flex;
}

#container div div {
    flex: 1;
    border: 1px solid black;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

button {
    font-size: 18px;
    background-color: blue;
    padding: 8px;
    color:white;
}
